body{
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h1{
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h2{
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h3{
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h4{
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h5{
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h6{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.parrafo{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.print{
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.button{
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}